#product_container{
    margin-top:30px;
    padding:30px;
    background-color: white;


}
#product{
    cursor:pointer;
}
#product_container h1:first-child{
    text-decoration: underline;
}
#product_details_cont h2:first-child{
    font-weight:500;
}
#product_details_cont h2{
    color:black;
    /* text-align:center; */
}