#navbar{
    background-color:#03071e;
}
#nav-logo-divider{
    width:4px;
    background-color: white;
    margin:6px 0;
}
.navmenu_glow:hover{
    border-bottom:solid red 2px;
}
#navbar_logo{
    margin:0 20px 0 15px;
}

