#navbar{
    position:fixed;
    left:0;
    right:0;
    top:0;
    float:top;
    background-color:rgba(0,0,0,.5);
}
#nav-logo-divider{
    width:4px;
    background-color: white;
    margin:6px 0;
}
.navmenu_glow:hover{
    border-bottom:solid red 2px;
}
#navbar_logo{
    margin:0 20px 0 15px;
}

